<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.mapper.ReplyMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="rno">
        insert into Reply(post_number, reply, userId)
        values(#{post_number}, #{reply}, #{userId})
    </insert>

    <select id="read" resultType="com.ezen.domain.ReplyVO" parameterType="Long">
        select * from Reply where rno = #{rno}
    </select>

    <delete id="delete">
        delete from Reply where rno = #{rno}
    </delete>

    <update id="update">
        update Reply set
        reply = #{reply},
        updateDate = NOW()
        where rno = #{rno}
    </update>

    <select id="getListWithPaging" resultType="com.ezen.domain.ReplyVO">
        select rno, post_number, reply, userId, replyDate, updateDate
        from Reply
        where post_number = #{post_number}
        and rno > 0
        order by rno desc
        limit #{cri.amount} offset #{cri.pageNum} * #{cri.amount}
    </select>

    <select id="getCountByBno" resultType="int">
        select count(rno) from Reply where post_number = #{post_number}
    </select>
</mapper>
